@model List<Trend>
<!-- trend section start -->
<section class="trend_section position-relative sec_top_space_70" data-aos="fade-up" data-aos-duration="2000">
    <div class="trend_section_wrap position-relative overflow-hidden sec_space_xlarge"
         style="background-image: url(/organic-html/assets/images/trends/trend1.png)">
        <div class="container">
            <div class="trend_top_content">
                <div class="trend_sub_title d-flex align-items-center justify-content-center">
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <span class="text-uppercase px-3">ÇİFTLİĞİMİZDEN TAZE</span>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                </div>
                <div class="trend_top_title text-center pb-4">
                    <h2>En Çok Tercih Edilenler</h2>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                @foreach (var x in Model)
                {
                    <div class="col-sm-6 col-lg-4">
                        <div class="trend_inner_content position-relative" data-aos="fade-right" data-aos-duration="1500">
                            <div class="trend_thumb">
                                <img src="@x.ImageUrl" alt="Organik Sebzeler">
                            </div>
                            <div class="trend_inner_text position-absolute">
                                <h4 class="text-white">@x.Title</h4>
                                <a href="/Shop/ShopList" class="text-white">
                                    HEMEN SATIN AL <i class="fas fa-long-arrow-alt-right text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- trend section end -->
