@model List<Banner>
<!-- banner section start -->
@foreach (var x in Model)
{
    <section class="banner_section_main position-relative banner_2">
        <div class="banner_section_item d-flex justify-content-center align-items-center sec_space_large"
             style="background-image: url(@x.ImageUrl);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ms-3">
                        <div class="banner_sub_title2 position-relative">
                            <h6 class="text-white text-uppercase position-absolute">ÇİFTLİĞİMİZDEN MASANIZA</h6>
                            <img class="sub_title_bg" src="/organic-html/assets/images/shapes/shape2.png" alt="">
                        </div>
                        <div class="banner_title2">
                            <h1>
                                @x.Title
                                <font class="text-effect">
                                    <span>O</span><span>r</span><span>g</span><span>a</span><span>n</span><span>i</span><span>k</span>
                                </font>
                            </h1>
                        </div>
                        <div class="banner_desc py-3">
                            <p>
                                @x.Description
                            </p>
                        </div>
                        <div class="banner_btn">
                            <a href="/Shop/ShopList">
                                <button type="button" class="btn custom_btn rounded-pill px-5 py-3 text-white">
                                    Alışverişe Başla <i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
        </div>
        <img class="banner2_right_thumb position-absolute" src="/organic-html/assets/images/shapes/shape5.png" alt="">
    </section>
}
<!-- banner section end -->
