@model List<FeaturedProduct>
@foreach(var x in Model)
{
    <section class="product_section_2 sec_space_xms_60" data-aos="fade-up" data-aos-duration="2000">
        <div class="product_section_2_wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="product_gallery" data-aos="fade-up" data-aos-duration="1000">
                            <img src="@x.ImageUrl" alt="Organik Ürünler">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product_section_content" data-aos="fade-up" data-aos-duration="2000">
                            <div class="product_sec_sub_title d-flex align-items-center pb-2">
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <span class="ps-1">ÇİFTLİĞİMİZDEN TAZE</span>
                            </div>
                            <div class="product_section_title py-2">
                                <h2>@x.MainTitle</h2>
                            </div>
                            <div class="product_section_subtitle position-relative">
                                <p class="pb-0">
                                    @x.Title
                                </p>
                            </div>
                            <div class="product_section_desc">
                                <p>
                                    @x.Description
                                </p>
                            </div>
                            <div class="product_section_btn">
                                <a href="/Shop/ShopList">
                                    <button type="button" class="btn custom_btn load_more_1 rounded-pill px-5 py-3 text-white">
                                        Ürünleri Keşfet <i class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}